
test:terraform-security:
  stage: test
  image: linuxbandit/terraform-with-tfsec:v0.12.9
  script:
    - |
      if [ -n "${TF_FOLDER_PATH}" ]; then
        cd "${TF_FOLDER_PATH}"
      fi
      terraform --version
      terraform init -backend=false
      tfsec .
  variables:
    GIT_DEPTH: 1